tr#search
  td
    input(
      type='search'
      placeholder='search'
      data-search-column='title'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
    input(
      type='search'
      placeholder='search'
      data-search-column='authors'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
    input(
      type='search'
      placeholder='search'
      data-search-column='ISBNs'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
    input(
      type='search'
      placeholder='search'
      data-search-column='pages'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
    input(
      type='search'
      placeholder='search'
      data-search-column='price'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
    input(
      type='search'
      placeholder='YYYY-MM-DD'
      data-search-column='pubdate'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
    input(
      type='search'
      placeholder='search'
      data-search-column='shortdesc'
      rv-on-input='smartSearch'
      rv-on-keyup='smartSearch')
  td
  td
  td
