head

  meta(charset='utf-8')

  title ArcBase

  meta(
    name='description'
    content='Fledgling Parse database front-end for (poetry) publishers')

  meta(
    name='viewport'
    content='width=device-width')

  link(
    rel="search"
    href="https://www.arcpublications.co.uk/arcbase/search.xml"
    type="application/opensearchdescription+xml"
    title="ArcBase")

  link(
    rel='stylesheet'
    href='css/reset.css')

  link(
    rel='stylesheet'
    type='text/css'
    href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

  link(
    rel='stylesheet'
    href='css/styles.css')

  link(
    href='https://fonts.googleapis.com/css?family=Lato:400,400italic&subset=latin,latin-ext'
    rel='stylesheet'
    type='text/css')
