.notes-overlay(rv-on-click='closeNotesModal')
  .notes-modal
    //- <input class="notes-header" rv-on-click="selectAll" rv-value="currentBook#title" rv-readonly="isEditing.notes | opposite" placeholder="Book title">
    
    input.notes-header(
      rv-on-click='selectAll'
      rv-value='currentBook#title'
      placeholder='Book title'
      readonly='')
    
    label
      | Review copies
      textarea(
        rows='20'
        rv-value='currentBook#review_copies'
        rv-on-click='selectAll'
        rv-readonly='isEditing.notes | opposite')
    
    label
      | Royalties
      textarea(
        rows='20'
        rv-value='currentBook#author_copies'
        rv-on-click='selectAll'
        rv-readonly='isEditing.notes | opposite')
    
    button.notes-edit(
      rv-on-click='editNotes'
      rv-html='notesButton'
      rv-class-warning='isEditing.notes')
    
    button(rv-on-click='closeNotesModal') &times;
